body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.main-nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #dd3e3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-brand-text {
    margin: 0 35px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}

.about-us {
    padding-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/guy-code-shrinked.jpg");
    background-size: cover;
    color: white;
    height: 665px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-heading {
    font-size: 3rem;
    margin: 0 0 15px;
}

.about-desc {
    margin-bottom: 40px;
}

.get-started {
    width: 150px;
    height: 50px;
    background-color: white;
    color: #dd3e3e;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    transition: all 0.2s;
    outline: none;
}

.get-started:hover {
    background-color: #dd3e3e;
    color: white;
    transition: all 0.2s;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form-research {
    margin: 70px 0;
    width: 60%;
    background-color: white;
    padding: 47px;
    border-radius: 15px;
    border: 2px solid #dd3e3e;
}

.visually-hidden {
    display: none;
}

input:not([type=file]):not([type=submit]),
textarea {
    outline: none;
    font-family: 'Roboto Slab', serif;
    padding-left: 7px;
    border-radius: 5px;
    border: 2px solid lightgray; 
    font-size: 0.9rem;
}



#inp-research-name {
    height: 35px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 450px;
}

#inp-research-desc {
    resize: none;
    margin-right: 20px;
    width: 100%;
    height: 60px;
}

.res-desc-wrapper {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.simbols-limit {
    width: 100px;
    font-size: 0.8rem;
    color: #dd3e3e;
}

fieldset {
    border: 2px solid #dd3e3e;
    border-radius: 5px;
    margin: 30px 0 20px;
}

.files-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.file {
    margin: 25px 0;
    width: 200px;
}

.label-file {
    display: block;
    margin-bottom: 10px;
}

.user-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#inp-name,
#inp-email {
    width: 300px;
    height: 30px;
}

.label-contact {
    display: block;
    margin: 10px 0 5px;
}

.we-contact-you {
    max-width: 400px;
    height: 50px;
}

.submit {
    display: flex;
    justify-content: end;
    align-items: end;
}

input[type=submit] {
    color: white;
    display: block;
    background-color: #dd3e3e;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    font-family: 'Roboto Slab', serif;
    transition: all 0.2s;
}

input[type=submit]:hover {
    background-color: white;
    color: #dd3e3e;
    transition: all 0.2s;
    border: 1px solid #dd3e3e;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #dd3e3e;
    color: white;
}

.contacts {
    width: 300px;
    text-align: center;
}

.contact-us {
    text-shadow: 1px 1px 2px black;
}

.team-member {
    color: white;
}

.list-contacts {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}